spring:
  application:
    name: back
  main:
    banner-mode: "off"
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
  data:
    mongodb:
      uri: mongodb://admin:{{ mongo_db_password | urlencode }}@{{ databases_private_ip }}:27017/banking?authSource=admin
server:
  port: 8080
datasources:
  adb:
    jdbc-url: jdbc:oracle:thin:@{{ adb_service_name }}_high?TNS_ADMIN=/home/opc/back/wallet
    username: ADMIN
    password: "{{ adb_admin_password }}"
    driver-class-name: oracle.jdbc.OracleDriver
  oracle:
    jdbc-url: jdbc:oracle:thin:@//{{ databases_private_ip }}:1521/FREEPDB1
    username: SYSTEM
    password: "{{ oracle_db_password }}"
    driver-class-name: oracle.jdbc.OracleDriver
  postgres:
    jdbc-url: jdbc:postgresql://{{ databases_private_ip }}:5432/postgres
    username: postgres
    password: "{{ postgres_db_password }}"
    driver-class-name: org.postgresql.Driver
selectai:
  agents:
    team: BANKING_INVESTIGATION_TEAM
