changelogFile=db.changelog-master.yaml
url=jdbc:oracle:thin:@{{ adb_service_name }}_high?TNS_ADMIN={{ wallet_dir }}
username=ADMIN
password={{ admin_password }}
liquibase.hub.mode=off

parameter.databases_private_ip={{ databases_private_ip }}
parameter.databases_fqdn={{ databases_fqdn }}
parameter.oracle_db_password={{ oracle_db_password }}
parameter.postgres_db_password={{ postgres_db_password }}
parameter.mongo_db_password={{ mongo_db_password }}
